<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>main Dept API</title>
    <link rel="stylesheet" href="/static/index.css" type="text/css">
</head>
<body>
<h1>Overview</h1>
<p>ユーザーの名前と得点を取得、送信することができるAPI</p>
<div id="main">
    <section>
        <h2>/get</h2>
        <p>DBから全てのユーザーの名前とスコアを取得する.</p>
    </section>
    <section>
        <h2>/get/:name</h2>
        <p>名前を指定して名前が一致したユーザーの名前とスコアを取得する.</p>
    </section>
    <section>
        <h2>/send</h2>
        <p>新規ユーザーの名前と得点をDBに登録する.</p>
    </section>
</div>
</body>
</html>